.section {
  margin-bottom: 70px;
  .section__card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
